/*
Empowerment Technologies Project
Started Tues Sep 18 12:33PST
Version 0.4.1
Created by Olympus
*/

@font-face {
    font-family: ProductSans;
    src:url(Product-Sans-Regular.ttf);

}

@font-face {
  font-family: ProductSansItal;
  src:url(Product-Sans-Italic.ttf);
}

@font-face {
    font-family: ProductSansBold;
    src: url(Product-Sans-Bold);
  }

/*
Defines all custom fonts used
*/

body {
  background-color: #FFFFFF;
  font-size: 48px;
  font-family: sans-serif;
 }


 p {
   text-indent: 1px;
 }


#nav1 {
  position: sticky;
  top: 0;
  bottom: auto;
  background: #011A2F;
  width: auto;
  height: 50px;
}


ul.headinglinks {
  text-align: center;
  list-style-type: none;
  height: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.headers {
  text-align: center;
  float: left;
  background-color: gray; /* for demosntration only, must remove */
}

li a.headlink {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: ProductSans;
  font-size: 24px;
  color: white;
  padding: 14px 14px;
}

#header1 {
  background: #31E4F4;
  width: auto;
  height: 600px;
}

#div2 {
  background: lime;
  width: 30%;
  height: 300px;
  margin-left: 20%;
  float: left;

}

#nav2 {
  background: #F0F0F0;
  width: auto;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

div.body {
  width: auto;
  height: 900px
}

nav.sidestory {
  background: gray; /* must remove; for demostation only */
  height: 450px;
  width: 30%;
  float: right;

}

div.article {
  background: black; /* must remove; for demostation only */
  height: 450px;
  width: 70%;
  float: left;

}

#footer {
  background: #F0F0F0;
  height: 400px;
  width: auto;
}
