/*
Empowerment Technologies Project
Started Tues Sep 18 12:33PST
Version 1.1.0
Created by:
Jacob Payag
Dianne Rei Tiongco
Cherie Rose Pelagio
*/

@font-face {
    font-family: ProductSans;
    src:url(Product-Sans-Regular.ttf);

}

@font-face {
  font-family: ProductSansItal;
  src:url(Product-Sans-Italic.ttf);
}

@font-face {
    font-family: ProductSansBold;
    src: url(Product-Sans-Bold);
  }

/*
Defines all custom fonts used
*/

body {
  font-size: 48px;
  font-family: sans-serif;
 }

ul.headinglinks {
  max-width: auto;
  list-style-type: none;
  height: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #011A2F;
  position: sticky;
  top: 0;
  z-index: 999;
}

li.headers {
  float: left;
}

li a.headlink {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: ProductSans;
  font-size: 24px;
  color: white;
  padding: 14px 14px;
}

li a.headlink:hover {
  background-color: #31E4F4;
}

#activenav {
  background-color: #31E4F4;
}

div.header1 {
  max-width: auto;
  position: relative;
  background: #31E4F4;
  width: auto;
  height: 600px;
}

div.div2 {
  max-width: auto;
  width: 40%;
  height: 50%;
  position: relative;
  top: 0;
  left: 0;
}

#learncenter {
  max-width: auto;
  position: relative;
  top: 5%;
  color: white;
  font-family: ProductSans;
  text-align: right;
  margin-top: auto;
}

#logo {
  max-width: inherit;
  position: absolute;
  top: 5%;
  left: 35%;
}

.line {
  max-width: auto;
  font-size: 36px;
  color: white;
  font-family: ProductSans;
  margin-top: 0;
  text-align: right;
}

#line1 {
  position: absolute;
  top: 30%;
  width: 40%;
  height: auto;
}

#line2 {
  position: absolute;
  top: 37%;
  width: 40%;
  height: auto;
}

div.globe {
  float: right;
  width: 490px;
  height: 550px;
  margin-top: auto;
  margin-right: auto;
  padding: 0;
  position: absolute;
  top: 15%;
  left: 50%;
}



div.div3 {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 50%;
}

button.mainb{
  border: 0px solid white;
  border-radius: 10px;
  position: relative;
  display: block;
  width: 350px;
  height: 90px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: ProductSans;
  font-size: 24px;
  text-align: right;
}

img.btimg {
  position: absolute;
  left: 10%;
  top: 5%;
}


div.nav2 {
  position: relative;
  background: #F0F0F0;
  width: auto;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

div.link {
  position: relative;
  width: 240px;
  height: 160px;
  top: 15%;
  float: left;
  margin-left: 11%;
}

img.imglink {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
  font-family: ProductSans;
  color: black;
  text-decoration: none;
}

div.body {
  position: relative;
  width: auto;
  height: 900px;
}



nav.sidestory {
  position: absolute;
  height: 450px;
  width: 30%;
  left: 70%;

}

div.article {
  text-align: left;
  position: absolute;
  height: 450px;
  width: 70%;
  left: 0;
}

#newprograms {
  bottom: 50%;
}

#new {
  line-height: 50px;
  font-size: 25px;
  text-align: left;
  list-style-image: url(yellow-bullet.png);

}

#news {
  top: 50%;

}

div.news {
  position: relative;
  width: auto;
  height: 30%;
}


#img27 {
  float: left;
  margin-right: 15px;
}

#img25 {
  float: left;
  margin-right: 15px;
}

#article1 {
  bottom: 50%;
}

#article2 {
  top: 50%;
}

button.readmore {
  width: 100px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: ProductSans;
  background-color: #2A56A5;
  border: 0px solid white;
  border-radius: 10px;

}

#footer {
  position: relative;
  background: #F0F0F0;
  height: 400px;
  width: auto;
}

div.foot {
  position: relative;
  width: 25%;
  height: 340px;
  float: left;
  display: inline-block;
  text-align: left;
  line-height: 40px;
}

#call {
  text-align: left;
  position: absolute;
  width: auto;
  height: 60px;
  top: 340px;
}

#textinput {
  height: 25px;
  border: 3px solid white;
  width: auto;
}

#subscribe {
  width: 90px;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: ProductSans;
  background-color: #2A56A5;
  border: 0px solid white;
}
